<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">注意事項</h3>
  </div>
  <div class="panel-body">
    <ol>
      <li>帳號新增後，需待管理者於「系統使用者」功能中認證後，才可使用。</li>
      <li>若點選功能後，還停留在本頁面，表示帳號尚未認證，請通知管理者。</li>
    </ol>
  </div>
</div>
